<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <log4net>
    <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <facility value="Local6" />
      <identity value="AzureNancyWorkerSample %property{log4net:HostName}" />
      <layout type="log4net.Layout.PatternLayout" value="%level %message%newline" />
      <remoteAddress value="logs.papertrailapp.com" />
      <remotePort value="17114" />
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="PapertrailRemoteSyslogAppender" />
    </root>
  </log4net>
  
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>